.carousel-widget {
    width: 800px;
    height: 360px;
    position: relative;
    margin: auto;
    .image-btn {
        position: absolute;
        height: 60px;
        width: 40px;
        top: 50%;
        margin-top: -30px;
        font-size: $font-size-larger;
        color: $white;
        background-color: $light-gray;
        z-index: 10;
        line-height: 60px;
        font-family: "simsun";
        cursor: pointer;
        @include opacity(.5);
        &.image-left-btn {
            left: 0;
        }
        &.image-right-btn {
            right: 0;
        }
    }
    .carousel-inner {
        width: 100%;
        height: 100%;
        .item {
            position: absolute;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}