<!doctype html>
<html lang="en" ng-app="whichStarApp">
<head>
  <meta charset="utf-8">
  <title>Which Star</title>
  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/app.css" />
  <!-- endbuild -->
</head>
<body>
<!--   <div ng-controller="helloWorld">
    <p>{{greeting}},World</p>
    <hello></hello>
    <input ng-model="greeting"/>
  </div>
  <div ng-controller="ListCtrl">
    <ol>
      <li ng-repeat="name in names">{{name}} from {{departure}}</li>
    </ol>
  </div> -->
  <div ng-view>
  </div>

  <!-- build:js js/vendor.js -->
  <script src="js/lib/angular.js"></script>
  <script src="js/lib/angular-route.js"></script>
  <!-- endbuild -->
  <!-- build:js js/main.js -->
  <!-- <script src="js/index.js"></script> -->
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <!-- endbuild -->
</body>
</html>
