<div class="home-container">
    <div class="photo-input">
        <div class="image-div">
            <carousel ng-repeat="imageurl in imagelist">
                <img src="{{imageurl}}">
            </carousel>
            <div class="image-box"></div>
            <div class="image-button"></div>
        </div>
        <div class="upload-button"></div>
    </div>
    <div class="photo-analyse">
        <div class="result-name">You look like AAA very much.</div>
        <div class="result-photo">photo</div>
        <div class="result-introduction">she is .....</div>
    </div>
</div>