.nav-bar{
    height: $header-height;
    background-color: $dark-green;
    font-size: $font-size-large;
    line-height: $header-height;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07);
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    ul {
        margin: 0 auto;
        list-style: none;
        margin-left: 40px;
        li {
            text-align: center;
            float:left;
            width: 25%;
            .header-link{
                color: $white;
                display: block;
            }
            .header-link:link, .header-link:visited {
                text-decoration: none;
                background-color: $dark-green;
            }
            .header-link:hover, .header-link:focus, .header-link:active {
                text-decoration: none;
                background-color: $darker-green;
            }
        }
    }
}