.home-container {
    min-height: 720px;
    background: -webkit-linear-gradient($dark-green 10%, $green 60%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($dark-green 10%, $green 60%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($dark-green 10%, $green 60%); /* For Firefox 3.6 to 15 */
    background: linear-gradient($dark-green 10%, $green 60%); /* Standard syntax */
    padding-top: 30px;
    .photo-input {
        height: 300px;
        width: 100%;
        margin: 0 auto;
        .image-div {
            position: relative;
            margin:0 auto;
            text-align: center;
            max-width: 1440px;
            .image-item {
                height: 240px;
                width: 180px;
                float: left;
            }
            #image-item-1 {
                background: url(/img/jiangwenli.jpeg) no-repeat center;
                background-size: 370px;
            }
            #image-item-2 {
                background: url(/img/sunli.jpg) no-repeat center;
                background-size: 200px;
            }
            #image-item-3 {
                background: url(/img/liangchaowei.jpg) no-repeat center;
                background-size: 200px;
            }
            #image-item-4 {
                background: url(/img/anglebaby.jpg) no-repeat center;
                background-size: 200px;
            }
            #image-item-5 {
                background: url(/img/lingengxin.jpg) no-repeat center;
                background-size: 200px;
            }
            #image-item-6 {
                background: url(/img/qinhailu.gif) no-repeat center;
                background-size: 200px;
            }
            .image-box{
                height: 240px;
                width: 180px;
                position: absolute;
                border: 10px solid $white;
            }
        }
    }
}